<<<<<<< HEAD
html,
body {
    height: 100%;
    font-family: OpenSans !important;
    color: #fff !important;
    font-size: 18px !important;
}
.crimson{
    
    background: #994242;
    box-shadow: 3px 3px 5px #000;

}
 .box {
        padding: 20px;
    }
.black{
    background: rgba(0,0,0, 0.78)
}

.layer {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.33)
}
.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.skill

.menu>li{
    cursor: pointer;
}
.menu>li:hover {
    background-color: #9a2727;
    cursor: pointer;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

.menu-items:hover {
    text-decoration: none;
    color: #fff;
}

.skill {
    max-width: 100px;
    width: 100%;
}

.gray {
    color: #9a2727;
}
.portrait {
        width: 200px;
        margin: auto;
        border: 8px solid #fff;
        box-shadow: 4px 5px 30px #000;
    }

.projectos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    max-width: 350px;
    transition: 1s all;
}
.Education{
    background: black;
}

.active{
     background-color: #9a2727 !important;
}
.board {
        
        padding: 20px;
        height: 100%;
        color: #fff;
    }

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: Press;
    src: url('fonts/PressStart2P-Regular.ttf');
}
@font-face {
    font-family: OpenSansI;
    src: url('fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: Dosis-Light;
    src: url('fonts/Dosis-Light.ttf');
}
@media screen and (max-width:766px) {

    .bigmenu{
        display: none;
    }
    .name {
    text-align: center;
    font-size: 18x;
}
}


@media screen and (min-width:767px) {
   .mynav{
       display: none;
   }
    html {
        font-size: 18px;
    }
    .navigation {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0.95);
        padding: 50px !important;
        font-size: 18px;
        list-style: none;
    }
    .menu li {
        padding: 15px;
    }
    .menu-items {
        color: #fff;
        padding-bottom: 16px;
    }
    .corpo {
        height: 100%;
    }
    .name {
    text-align: center;
    font-size: 18px;
}
    
   
}
||||||| merged common ancestors
=======
body{
	font-family: 'Poiret One', cursive;
	color: #FFF;
}
@media only screen and (min-width : 500px){

body{
	background-image: url("resources/universe.jpg");
	opacity: 0.9;
}
#container{

	max-width: 1366px;
	height: 1200px; 
	background-color: #031634;
	margin-left: auto;
	margin-right:auto;
	
}
#menu{
	background-color: #FFF;

	display: flex;

}
.spbutton{
	margin-left: auto;
	margin-right: auto;
	background-color: #CDB380;	
	min-width: 100px;
	text-align: center;
}
.spbutton:active{
	background-color: #E8DDCB;
	border: 5px  #CDB380;
}
.col-1{
	width: 25%;
}
.col-2{
	width: 50%; 
}
.col-3{
	width: 75%;
}
.col-4{
	width: 100%;
}
#painel{
height: inherit;
overflow: auto;
margin-left: auto;
margin-right: auto;

}
.clicked{
	background-color: #523A3E;
}
.image{
	border-radius: 30px;
	height:300px;
}
.aladin{
	width: 700px;
	border: 5px white;
	border-radius: 100%;


}
.panel_header{
	text-align: center;
}
}
>>>>>>> c880add320211566966fd643436466bf26fcb5d1
