 .background{
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
 }
 @media screen and (min-width:767px) {
     .navigation{
         position: relative;
         height: 100%;
         display: center;
         align-items: center; 
     }
     .nav{
         position: absolute;
         top: 50%
     }
     body{

         min-height: 100%;
         height: auto;
     }
 }
.navigation{
    background-color: #fff;

}